 .header {
   
    padding: 15px 25px;
    /* backdrop-filter: blur(10px); */
    z-index: 1000;
    position: fixed;
    top: 15px;
    right: 0px;
    z-index: 999;
    gap: 10px;
    display: flex;
  }
  
 
  .iconWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end; 
   

  }
  
  .iconLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(109, 40, 217, 0.1); /* sayt rənglərinə uyğun yumşaq fon */
    transition: all 0.2s ease;
    border: 1px solid #6d28d9;
    border: 3px solid red;
        /* gradient border effekti */
        border: 2px solid transparent;
        background-image: linear-gradient(#fff, #fff),
          linear-gradient(90deg, #6d28d9, #3b82f6);
        background-origin: border-box;
        background-clip: padding-box, border-box;
      
        /* glow effekti */
        box-shadow: 0 0 15px rgba(109, 40, 217, 0.3);


  }
  
  .iconLink img {
    width: 20px;
    height: 20px;
  }
  
  .iconLink:hover {
    background: rgba(109, 40, 217, 0.2);
    transform: translateY(-2px);
  }
  
  /* CV linki fərqləndirmək üçün */
  /* .cvLink {
    background: rgba(59, 130, 246, 0.1);
  }
  
  .cvLink:hover {
    background: rgba(59, 130, 246, 0.2);
  }
   */
 