.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  position: relative;
  background: #f9f9f9; /* Ağ əsas fon */
}



/* Main content */
.mainContent {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background: #f9f9f9; /* Açıq fon */
  padding: 0;
}


/* 🔹 Responsiv */
@media (max-width: 768px) {
  

  .mainContent {
    padding-left: 0;
  }
}



