.wrapper {

    position: fixed;
    bottom: 55px;
    right: 35px;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 10px;
      
  }
  
  .mainFlag {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
      /* gradient border effekti */
      border: 2px solid transparent;
      background-image: linear-gradient(#fff, #fff),
        linear-gradient(90deg, #6d28d9, #3b82f6);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    
      /* glow effekti */
      box-shadow: 0 0 15px rgba(109, 40, 217, 0.3);
    
    /* transition: all 0.3s ease;
    border: 2px solid #6d28d9;
    box-shadow: 0 0 10px rgba(109, 40, 217, 0.3); */
  }
  .mainFlag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    
  }
  
  .mainFlag:hover {
    transform: scale(1.1);
  }
  
  .dropdown {
    display: flex;
    gap: 8px;
    animation: slideLeft 0.6s ease forwards;
  }
  
  .childFlag {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all 0.2s ease;
    border: 1px solid #8453d3;
  }
  
  .childFlag:hover {
    transform: scale(1.15);
    border-color: #6d28d9;
  }
  
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  