.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 84vh;
  background: var(--background-color);
  text-align: center;
  font-family: Arial, sans-serif;
}


.home-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.custom-button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  border: 2px solid #1e2e69;
  border-radius: 10px;
  color: #1e2e69;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background:#1e2e69;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
}


